@tailwind base;
@tailwind components;
@tailwind utilities;

.calendarContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 6fr;
	height: 100vh;
	gap: 0;
	margin: 0;
}

.topbarArea {
	grid-column: 1 / span 2;
	background-color: white;
}

.dataArea {
	background-color: #F8F9F9;
}

.calendarArea {
	background-color: #F8F9F9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendarWrapper {
	width: 100%;
	max-width: 500px;
}

.buttonText {
	font-size: 10px;
}

.first-array {
	background-color: #0085A9 !important;
	color: #FFFFFF;
}

.first-array:hover {
	background-color: #007595 !important;
}

.first-array:active {
	background-color: #006a88 !important;
}

.second-array {
	background-color: #1E465C;
	color: #FFFFFF;
}

.second-array:hover {
	background-color: #24546d !important;
}

.second-array:active {
	background-color: rgb(37, 96, 127) !important;
}