@tailwind base;
@tailwind components;
@tailwind utilities;

.border-color-default { 
  border-color: #EFEFEF;
}
.bg-main{
  background-color: #f8f9f9;
}
.active {
  border: 2px solid #F1F1F1;
}
.skill-container {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 4.2rem;
  height: 4.2rem;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.logo{
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
}

.bottombar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1.3rem;
}
.topsidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px;
  gap: 3.25rem;

}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  gap: 32px;
}
.w-027{
  width: 33%;
}
.skill-info-gap{
  gap: 5.7%;
}
.h-14p{
  height: 14%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Revan's Custom TailwindCSS */

.bg-gray-self-900 {
	background-color: #2a2a2e;
}

.bg-gray-self-800 {
	background-color: #4d4d4f;
}

.bg-gray-self-700 {
	background-color: #707072;
}

.bg-gray-self-600 {
	background-color: #979797;
}

.bg-silver-self-400 {
	background-color: #bebebe;
}

.bg-silver-self-300 {
	background-color: #d6d6d6;
}

.bg-silver-self-200 {
	background-color: #ededed;
}

.border-gray-self-900 {
	border: 2px solid #2a2a2e;
}

.border-silver-self-300 {
	border: 2px solid #bebebe;
}