@tailwind base;
@tailwind components;
@tailwind utilities;

.border-color-default { 
  border-color: #EFEFEF;
}
.bg-main{
  background-color: #f8f9f9;
}

.w-027{
  width: 33%;
}
.skill-info-gap{
  gap: 5.7%;
}
.h-14p{
  height: 14%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
