.back-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 125px;
	height: 50px;
	font-size: 18px;

	border-radius: 15px;

	background: #e5e5e5;
}

.disabled {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 125px;
	height: 50px;
	font-size: 18px;

	cursor: default;
	border-radius: 15px;
	background: #e5e5e5;
	color: rgba(0, 0, 0, 0.2);
}

.next-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	background: #0c5d8b;

	width: 125px;
	height: 50px;
	font-size: 18px;
	border-radius: 15px;
	color: white;
}

.wrong-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	background: #B81435;

	width: 162.5px;
	height: 50px;
	font-size: 18px;
	border-radius: 15px;
	color: white;
}

.video-player {
	display: flex;
	justify-content: center;
	align-items: center;
}

.video {
	width: 100%;
	max-width: 800px;
}

.day-header {
	color: #1E465C;
}

.day-description {
	color: #86a2b0;
}

.xp {
	color: #0C5D8B;
}